body {
    font-family: 'Roboto';
    background-color: #F7F3FE;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7525FF;
    font-size: 25px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .right-arrow {
    right: 140px;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }
  
  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail-image {
    width: 650px;
    height: 600px;
    border-radius: 25px;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
    opacity: .8;
  
  }
  
  .exercise-card {
    width: 325px;
    height: 375px;
    background: #7525FF;
    border-top: 4px solid #7525FF;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 250px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }

  .search-btn:hover {
    color: #7525FF !important;
    border: 1px solid #7525FF !important;
    border-radius: 4px;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 350px;
    height: 320px;
    text-decoration: none;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }
  
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }
  
    .left-arrow,
    .right-arrow {
      position: static !important;
    }
  
    .hero-banner-img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 600px;
    height: 800px;
    margin-top: -330px;
    z-index: -1;
    opacity: .4;
    }
  
    .exercise-card {
      width: 285px;
    }
  
    .exercise-video {
      width: 275px;
      height: 250px;
    }
  
  }
  
  @media screen and (max-width:350px) {
    .exercise-card {
      width: 250px;
    }

    .hero-banner-img {
      display: none;
      }
  }